
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./tentang.component.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
  />
  </head>
  
  <body>
    <div class="tentang7">
      <div class="tentang8">
        <div class="cpnbackground6">
          <img
            class="background-icon8"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
        </div>
        <div class="cpnfooter7">
          <div class="layer-background6"></div>
          <iframe class="maps-icon7" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63375.932020655724!2d107.6002816!3d-6.8911104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e64c5e8866e5%3A0x37be7ac9d575f7ed!2sGedung%20Sate!5e0!3m2!1sid!2sid!4v1667394975111!5m2!1sid!2sid" ></iframe>

          <img class="logo-icon14" alt="" src="../../assets/images/logo brt betul footer.png"/><b class="bandung-regency-tour13"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami13">Hubungi Kami</b
          ><b class="alamat11">Alamat :</b
          ><b class="taman-kopo-indah7"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp7">Whatsapp :</b><b class="b20">081234569874</b
          ><b class="telephone7">Telephone :</b><b class="b21">0223654185</b>
        </div>
        <div class="cpncopyright7">
          <div class="bck-cr7"></div>
          <b class="copyright-bandung-regency7"
            >2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok7">Developed with kelompok 6</b
          ><img class="vector-icon7" alt="" />
        </div>
        <b class="bandung-regency-tour-container1"
          ><p class="bandung-regency-tour14">
            Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di Bandung.
          </p>
          <p class="bandung-regency-tour14">
            Kami mempunyai pengalaman dalam meyediakan layanan perjalanan paket
            wisata yang menyenangkan.
          </p>
          <p class="bandung-regency-tour14">
            Dengan tarif yang terjangkau anda sudah bisa menikmati paket wisata
            yang kami sediakan,
          </p>
          <p class="bandung-regency-tour14">
            dengan difasilitasi dengan transportasi yang berkualitas sehingga
            membuat perjalanan liburan anda nyaman dan berkesan.
          </p>
          <p class="bandung-regency-tour14">
            Paket wisata yang kami sediakan adalah wisata daerah Bandung dan
            sekitarnya,
          </p>
          <p class="bandung-regency-tour14">
            kami menyediakan paket dengan berbagai destinasi wisata yang dapat
            anda pilih.
          </p>
          <p class="bandung-regency-tour14">&nbsp;</p>
          <p class="bandung-regency-tour14">
            Kami juga menyediakan layanan rental mobil dengan driver untuk
            berbagai keperluan atau kebutuhan anda.
          </p>
          <p class="kendaraan-yang-kami1">
            Kendaraan yang kami rentalkan adalah armada terbaik dengan kondisi
            yang masih sangat berkualitas.
          </p></b
        >
        <div class="judul12">
          <b class="tentang-bandung-regency-container"
            ><p class="bandung-regency-tour14">Tentang</p>
            <p class="kendaraan-yang-kami1">Bandung Regency Tour</p></b
          >
          <div class="line-1-tp114"></div>
          <b class="home15"  [routerLink]="['/','home']">Home</b
          ><b class="tentang10"
            ><span>/ </span><span class="tentang11">Tentang</span></b
          >
        </div>
        <div class="judul13">
          <b class="layanan-yang-tersedia">Layanan Yang Tersedia</b>
          <div class="line-1-tp115"></div>
        </div>
        <div class="paket-wisata13">
          <div class="paket-wisata14"></div>
          <div class="line-2-lp21"></div>
          <b class="paket-wisata-yang2"
            >Paket Wisata yang kami sediakan terbadi menjadi 5 paket, dimulai
            dari kawasan wisata bandung barat, bandung timur, bandung utara,
            bandung selatan, dan yang terakhir paket campuran dari ke 4 bagian
            teratas.</b
          ><b class="paket-wisata15">Paket Wisata</b>
        </div>
        <div class="info-wisata11">
          <div class="paket-wisata14"></div>
          <b class="untuk-info-wisata"
            >Untuk info wisata kamu bisa cek bagaimana pesona setiap wisata yang
            telah kami sediakan dan juga kami menyediakan rute agar mempermudah
            akses kamu jika ingin berwisata.</b
          ><b class="info-wisata13">Info Wisata</b>
          <div class="line-3-lp21"></div>
        </div>
        <div class="info-hotel10">
          <div class="paket-wisata14"></div>
          <div class="paket-wisata-yang2">
            Kami juga menyediakan info hotel terdekat yang bisa kamu telusuri
            jika kamu berada diluar kawasan Kabupaten Bandung.
          </div>
          <div class="info-hotel12">Info Hotel</div>
          <div class="line-3-lp21"></div>
        </div>
      </div>
    </div>
  </body>
</html>
