<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./rekapbooking.component.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
  />

  </head>
  <body>
    <div class="pembayaran">
      <div class="pembayaran1">
        <div class="judul3">
          <b class="pembayaran2">PEMBAYARAN</b><b class="b2">#0001</b>
          <div class="line-1-tp16"></div>
        </div>
        <div class="cpnbackground">
          <img
            class="background-icon2"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
          <!-- <div class="layer-background"></div> -->
        </div>

        <div class="cpnfooter1">
          <div class="layer-background"></div>
          <iframe class="maps-icon1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.385556443359!2d107.56334881436793!3d-6.9637622701166775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e8d4b76f0833%3A0x5146360fec241eff!2sJl.%20Taman%20Kopo%20Indah%201%2C%20Kec.%20Margaasih%2C%20Kabupaten%20Bandung%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1677081384989!5m2!1sid!2sid" ></iframe>

          <img class="logo-icon2" alt="" src="../../assets/images/logo brt betul footer.png" /><b class="bandung-regency-tour5"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami7">Hubungi Kami</b
          ><b class="alamat1">Alamat :</b
          ><b class="taman-kopo-indah1"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp1">Whatsapp :</b><b class="b3">081234569874</b
          ><b class="telephone1">Telephone :</b><b class="b4">0223654185</b>
        </div>

        <div class="cpncopyright1">
          <div class="bck-cr1"></div>
          <b class="copyright-bandung-regency1"
            >&copy; 2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok1">Developed with kelompok 6</b
          >
        </div>
        <div class="nama">
          <b class="nama1">Nama</b>
          <div class="nama-child"></div>
        </div>
        <div class="telphone">
          <b class="no-telphone">No. Telphone</b>
          <div class="telphone-child"></div>
        </div>
        <div class="alamat2">
          <b class="alamat3">Alamat</b>
          <div class="alamat-child"></div>
        </div>
        <div class="tk">
          <div class="tk-child"></div>
          <b class="tanggal-keberangkatan">Tanggal Keberangkatan</b>
        </div>
        <div class="jp">
          <div class="telphone-child"></div>
          <b class="tanggal-keberangkatan">Jumlah Paket</b>
        </div>
        <div class="paket">
          <div class="paket-child"></div>
          <b class="pembayaran2">Paket</b>
        </div>
        <div class="kirim-bukti-pembayaran-container">
          <p class="kirim-bukti-pembayaran"># Kirim bukti Pembayaran</p>
          <p class="ke-whatsapp-admin">ke WhatsApp Admin</p>
        </div>
        <div class="borderwa">
          
        <img
          
          class="whatsapp-1-1"
          alt=""
          src="../../assets/images/whatsapp.png"
        />
      </div>
      
        <div class="nomor-rekening">
          <div class="nomor-rekening-child"></div>
          <b class="nomor-rekening1">Nomor Rekening</b
          ><b class="b5">679765434579824563</b>
        </div>
        <div class="judul4">
          <b class="rekap-booking">Rekap Booking</b>
          <div class="line-1-tp17"></div>
          <b class="rekap"><span> / </span><span class="rekap1">Rekap</span></b
          ><b class="home3" >Home</b>
        </div>
      </div>
      
      
    </div>

   
  </body>
</html>
