  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./navbar.component.css">
  
    

    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <title>navbar</title>
  </head>
  <body>
    <div class="container-fluid">
    <nav class="cpntop-bar">
      <img class="logo-icon1" alt="" src="../../assets/images/logo bulat.png" />
      <div class="top-bar">
       <ul class="  top-bar">

        <li class="tentang">
          <p [routerLink]="['/','home']">Home</p>
        </li>
        <li class="tentang">
          <p [routerLink]="['/','paketwisata']">Paket Wisata</p>
        </li>
        <li class="tentang">
          <p  [routerLink]="['/','infowisata']">Info Wisata</p>
        </li>
        
        <li class="tentang">
          <p  [routerLink]="['/','tentang']">Tentang</p>
        </li>

        <li class="tentang">
          <p [routerLink]="['/','infohotel']">Info Hotel</p>
        </li>

        <li class="tentang">
          <p [routerLink]="['/','galeri']">Gallery</p>
        </li>
      </ul>

      </div> 
      </nav>
    </div>
    

  </body>

  </html>
  
 

  

