<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./infohotel.component.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
  />
  </head>
  <body>
    <div class="info-hotel6">
      <div class="info-hotel7">
        <div class="cpnbackground5">
          <img
            class="background-icon7"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
          <!-- <div class="layer-background5"></div> -->
        </div>
        <div class="cpnfooter6">
          <div class="layer-background5"></div>
          <iframe class="maps-icon6" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63375.932020655724!2d107.6002816!3d-6.8911104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e64c5e8866e5%3A0x37be7ac9d575f7ed!2sGedung%20Sate!5e0!3m2!1sid!2sid!4v1667394975111!5m2!1sid!2sid" ></iframe>

          <img class="logo-icon12" alt="" src="../../assets/images/logo bulat.png"/><b class="bandung-regency-tour12"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami12">Hubungi Kami</b
          ><b class="alamat10">Alamat :</b
          ><b class="taman-kopo-indah6"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp6">Whatsapp :</b><b class="b18">081234569874</b
          ><b class="telephone6">Telephone :</b><b class="b19">0223654185</b>
        </div>
        <div class="cpncopyright6">
          <div class="bck-cr6"></div>
          <b class="copyright-bandung-regency6"
            >2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok6">Developed with kelompok 6</b
          ><img class="vector-icon6" alt="" />
        </div>
        <div class="kategori4">
          <img
            class="line-3-stroke"
            alt=""
            src=""
          /><img
            class="line-4-stroke"
            alt=""
            src=""
          /><img class="line-4-stroke1" alt="" />
          <div class="hotel-1">
            <img
              class="gbr-paket-wisata-18"
              alt=""
              src="../../assets/images/Hotel/1.jpg"
            /><b class="putri-gunung-hotel">Putri gunung Hotel</b
            ><b class="daya-tarik-utama">
              Daya Tarik utama hotel ini adalah pemandangan langsung Gunung
              Tangkuban Perahu.</b
            >
            <div class="cpnrute8" >
              <a href="https://www.google.com/maps/place/Puteri+Gunung+Hotel/@-6.8105273,107.627069,17z/data=!3m1!4b1!4m6!3m5!1s0x2e68e87efe888c57:0xc0d5e7f3ae68d75c!8m2!3d-6.8105273!4d107.6292577!16s%2Fg%2F1hd_0brrk" class="rute8">Rute</a>
            </div>
          </div>
          <div class="hotel-2">
            <img
              class="gbr-paket-wisata-28"
              alt=""
              src="../../assets/images/Hotel/2.jpg"
            /><b class="gh-universal-hotel">GH Universal Hotel</b
            ><b class="gh-universal-hotel1"
              >GH Universal Hotel berkonsep unik seperti kastil kuno ala Eropa
              yang unik</b
            >
            <div class="cpnrute9" >
              <a href="https://www.google.com/maps?q=GH+Universal+Hotel&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjG3MfV0Yr9AhVjCrcAHbA6AVoQ_AUoAnoECAEQBA" class="rute8">Rute</a>
            </div>
          </div>
          <div class="hotel-3">
            <img
              class="gbr-paket-wisata-38"
              alt=""
              src="../../assets/images/Hotel/3.jpg"
            /><b class="albis-hotel-ciwidey">Albis Hotel Ciwidey</b
            ><b class="terletak-strategis-di"
              >Terletak strategis di Ciwidey , properti ini menempatkan Anda
              dekat dengan atraksi dan opsi restoran menarik.</b
            >
            <div class="cpnrute10" >
              <link rel="stylesheet" href="">
              <a href="google.com/maps/place/Albis+Hotel+Ciwidey/@-7.1067229,107.4521258,17z/data=!3m1!4b1!4m6!3m5!1s0x2e688d49d4d185f1:0x44b179a0d368c3b7!8m2!3d-7.1067282!4d107.456353!16s%2Fg%2F11bw44rzj7" class="rute8">Rute</a>
            </div>
          </div>
          <div class="hotel-4">
            <img
              class="gbr-paket-wisata-29"
              alt=""
              src="../../assets/images/Hotel/4.jpg"
            /><b class="bamboe-hotel">Bamboe Hotel</b
            ><b class="hotel-yang-dekat"
              >Hotel yang dekat dengan pusat kota lembang,dengan konsep bangunan
              dari bambu dan suasana lembang yang dingngin</b
            >
            <div class="cpnrute11" >
              <a href="https://www.google.com/maps/place/Hotel+Pesona+Bamboe+Lembang/@-6.8136773,107.612504,17z/data=!3m1!4b1!4m6!3m5!1s0x2e68e104bd8468cb:0x9506b08ff2793f90!8m2!3d-6.8136826!4d107.6146927!16s%2Fg%2F1td80cj_" class="rute8">Rute</a>
            </div>
          </div>
          <div class="hotel-5">
            <img
              class="gbr-paket-wisata-39"
              alt=""
              src="../../assets/images/Hotel/5.jpg"
            /><b class="sari-ater-hotel">Sari Ater Hotel</b
            ><b class="hotel-yang-terletak"
              >hotel yang terletak di kota subang ini mempunyai fasilitas kolam
              renang umum /pribadi air panas</b
            >
            <div class="cpnrute12" >
              <a href="https://www.google.com/maps/place/Sari+Ater+Subang/@-6.7390828,107.6490426,17z/data=!3m1!4b1!4m6!3m5!1s0x2e691f909dcb2d7d:0x2ff68c4497e44236!8m2!3d-6.7390881!4d107.6532698!16s%2Fg%2F11b7swm6x6" class="rute8">Rute</a>
            </div>
          </div>
        </div>
        <div class="judul11">
          <img
            class="line-1-tp1-stroke"
            alt=""
            src=""
          /><b class="info-hotel8">Info Hotel</b
          ><b class="home13"  [routerLink]="['/','home']">Home</b
          ><b class="hotel"><span>/ </span><span class="hotel1">Hotel</span></b>
        </div>
      </div>
      
    </div>
  </body>
</html>
