<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./infohotel.component.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="info-hotel6">
      <div class="info-hotel7">
        <div class="cpnbackground5">
          <img
            class="background-icon7"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
          <!-- <div class="layer-background5"></div> -->
        </div>
        <div class="cpnfooter6">
          <div class="layer-background5"></div>
          <img
            class="maps-icon6"
            alt=""
            src="../../assets/images/peta.PNG"
            id="mapsImage"
          /><img class="logo-icon12" alt="" src="../../assets/images/logo bulat.png"/><b class="bandung-regency-tour12"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami12">Hubungi Kami</b
          ><b class="alamat10">Alamat :</b
          ><b class="taman-kopo-indah6"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp6">Whatsapp :</b><b class="b18">081234569874</b
          ><b class="telephone6">Telephone :</b><b class="b19">0223654185</b>
        </div>
        <div class="cpncopyright6">
          <div class="bck-cr6"></div>
          <b class="copyright-bandung-regency6"
            >2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok6">Developed with kelompok 6</b
          ><img class="vector-icon6" alt="" />
        </div>
        <div class="kategori4">
          <img
            class="line-3-stroke"
            alt=""
            src="public/line-3-stroke.svg"
          /><img
            class="line-4-stroke"
            alt=""
            src="public/line-4-stroke.svg"
          /><img class="line-4-stroke1" alt="" />
          <div class="hotel-1">
            <img
              class="gbr-paket-wisata-18"
              alt=""
              src="../../assets/images/Hotel/1.jpg"
            /><b class="putri-gunung-hotel">Putri gunung Hotel</b
            ><b class="daya-tarik-utama">
              Daya Tarik utama hotel ini adalah pemandangan langsung Gunung
              Tangkuban Perahu.</b
            >
            <div class="cpnrute8" >
              <b class="rute8">Rute</b>
            </div>
          </div>
          <div class="hotel-2">
            <img
              class="gbr-paket-wisata-28"
              alt=""
              src="../../assets/images/Hotel/2.jpg"
            /><b class="gh-universal-hotel">GH Universal Hotel</b
            ><b class="gh-universal-hotel1"
              >GH Universal Hotel berkonsep unik seperti kastil kuno ala Eropa
              yang unik</b
            >
            <div class="cpnrute9" >
              <b class="rute8">Rute</b>
            </div>
          </div>
          <div class="hotel-3">
            <img
              class="gbr-paket-wisata-38"
              alt=""
              src="../../assets/images/Hotel/3.jpg"
            /><b class="albis-hotel-ciwidey">Albis Hotel Ciwidey</b
            ><b class="terletak-strategis-di"
              >Terletak strategis di Ciwidey , properti ini menempatkan Anda
              dekat dengan atraksi dan opsi restoran menarik.</b
            >
            <div class="cpnrute10" >
              <link rel="stylesheet" href="">
              <b class="rute8">Rute</b>
            </div>
          </div>
          <div class="hotel-4">
            <img
              class="gbr-paket-wisata-29"
              alt=""
              src="../../assets/images/Hotel/4.jpg"
            /><b class="bamboe-hotel">Bamboe Hotel</b
            ><b class="hotel-yang-dekat"
              >Hotel yang dekat dengan pusat kota lembang,dengan konsep bangunan
              dari bambu dan suasana lembang yang dingngin</b
            >
            <div class="cpnrute11" >
              <b class="rute8">Rute</b>
            </div>
          </div>
          <div class="hotel-5">
            <img
              class="gbr-paket-wisata-39"
              alt=""
              src="../../assets/images/Hotel/5.jpg"
            /><b class="sari-ater-hotel">Sari Ater Hotel</b
            ><b class="hotel-yang-terletak"
              >hotel yang terletak di kota subang ini mempunyai fasilitas kolam
              renang umum /pribadi air panas</b
            >
            <div class="cpnrute12" >
              <b class="rute8">Rute</b>
            </div>
          </div>
        </div>
        <div class="judul11">
          <img
            class="line-1-tp1-stroke"
            alt=""
            src="public/line-1-tp1-stroke.svg"
          /><b class="info-hotel8">Info Hotel</b
          ><b class="home13" id="homeText" [routerLink]="['/','home']">Home</b
          ><b class="hotel"><span>/ </span><span class="hotel1">Hotel</span></b>
        </div>
      </div>
      
    </div>
  </body>
</html>
