<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./infowisata.component.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
  />

   
  </head>
  <body>
    <div class="container-fluid">
    <div class="info-wisata2">
      <div class="info-wisata3">
        <div class="kategori2">
          <div class="kategori-child1"></div>
          <div class="kategori-child2"></div>
          <div class="tempat-wisata-11">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/1.jpg"
            /><b class="the-great-asia">Tangkuban Perahu</b
            ><b class="selain-menyaksikan-keindahan1"
              >Selain menyaksikan keindahan alam, kamu juga bisa foto-foto
              cantik untuk stok foto.</b
            >
            <div class="cpnrute3" >
              <a style= "  color: black ;" href="https://www.google.com/maps/place/Gn.+Tangkuban+Parahu/@-6.7596162,107.6010259,15z/data=!3m1!4b1!4m6!3m5!1s0x2e68e1ddc59713db:0xa01c96b73428fedc!8m2!3d-6.7596377!4d107.6097807!16zL20vMDNtdl95" class="rute3">Rute</a>
            </div>
          </div>
          <div class="tempar-wisata-21">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/2.jpg"
            /><b class="dusun-bambu">Taman Langit</b
            ><b class="selain-menyaksikan-keindahan1"
              >Taman Langit Pangalengan merupakan tempat wisata yang ada
              diketinggian 1.670 mtr di atas permukaan laut</b
            >
            <div class="cpnrute4" >
              <a style="color: black;" href="https://www.google.com/maps/search/taman+langit/@-7.2317782,107.52381,18z/data=!3m1!4b1" class="rute3">Rute</a>
            </div>
          </div>
          <div class="tempat-wisata-31">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/3.jpg"
            /><b class="rancaupas2">Rancaupas</b
            ><b class="selain-menyaksikan-keindahan1"
              >Pesona keindahan alamnya memang tak bisa dibantah lagi, apalagi
              dengan udara yang masih sejuk</b
            >
            <div class="cpnrute5" >
              <a style="color: black;" href="https://www.google.com/maps/place/ranca+upas+camping+ground/@-7.1411417,107.3935153,17z/data=!3m1!4b1!4m9!3m8!1s0x2e688c86bccee619:0x265ecba7bd5df948!5m2!4m1!1i2!8m2!3d-7.141147!4d107.395704!16s%2Fg%2F11b76dyr15" class="rute3">Rute</a>
            </div>
          </div>
          <div class="kategori-child3"></div>
          <div class="tempat-wisata-4">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/4.jpg"
            /><b class="dusun-bambu">Dusun Bambu</b
            ><b class="dusun-bambu-menyajikan"
              >Dusun Bambu menyajikan keindahan alam dan budaya tradisional khas
              Sunda. Cocok untuk wisata dengan keluarga tercinta</b
            >
            <div class="cpnrute6" >
              <a style="color: black;" href="https://www.google.com/maps/place/Dusun+Bambu+Lembang,+Kertawangi,+Kec.+Cisarua,+Kabupaten+Bandung+Barat,+Jawa+Barat+40551/@-6.7897094,107.576974,17z/data=!3m1!4b1!4m6!3m5!1s0x2e68e18bf02c476f:0x74a48170184c3a4f!8m2!3d-6.7897147!4d107.5791627!16s%2Fg%2F11f045j34x" class="rute3">Rute</a>
            </div>
          </div>
          <div class="tempat-wisata-5">
            <img
              class="gbr-paket-wisata-34"
              alt=""
              src="../../assets/images/Info wisata/5.jpg"
            /><b class="the-great-asia">The Great Asia Afrika</b
            ><b class="bagi-kamu-yang"
              >Bagi kamu yang ingin merasakan jalan-jalan keluar negeri, tak ada
              salahnya mengunjungi wisata ini.</b
            >
            <div class="cpnrute7" >
              <a style="color: black;" href="https://www.google.com/maps/place/The+Great+Asia+Africa/@-6.8329402,107.6019028,17z/data=!3m1!4b1!4m6!3m5!1s0x2e68e15afd2a93ad:0xad35b2a8d387f68e!8m2!3d-6.8329455!4d107.6040915!16s%2Fg%2F11j40w1gcp" class="rute3">Rute</a>
            </div>
          </div>
        </div>
        <div class="cpnbackground">
          <img
            class="background-icon2"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
          <!-- <div class="layer-background"></div> -->
        </div>
        <div class="cpnfooter1">
          <div class="layer-background"></div>
          <iframe class="maps-icon1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.385556443359!2d107.56334881436793!3d-6.9637622701166775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e8d4b76f0833%3A0x5146360fec241eff!2sJl.%20Taman%20Kopo%20Indah%201%2C%20Kec.%20Margaasih%2C%20Kabupaten%20Bandung%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1677081384989!5m2!1sid!2sid"></iframe>

          <img class="logo-icon2" alt="" src="../../assets/images/logo brt betul footer.png"/><b class="bandung-regency-tour5"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami7">Hubungi Kami</b
          ><b class="alamat1">Alamat :</b
          ><b class="taman-kopo-indah1"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp1">Whatsapp :</b><b class="b2">081234569874</b
          ><b class="telephone1">Telephone :</b><b class="b3">0223654185</b>
        </div>
        <div class="cpncopyright1">
          <div class="bck-cr1"></div>
          <b class="copyright-bandung-regency1"
            >&copy; 2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok1">Developed with kelompok 6</b
          >
        </div>
        <div class="judul3">
          <div class="line-1-tp16"></div>
          <b class="info-wisata4"
            ><p class="info1">Info</p>
            <p class="tempat-wisata1">Tempat Wisata</p></b
          ><b class="home3"  [routerLink]="['/','home']">Home </b
          ><b class="tempat-wisata2"
            ><span>/ </span><span class="tempat-wisata3">Tempat Wisata</span></b
          >
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
