<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./infowisata.component.css" />

   
  </head>
  <body>
    <div class="container-fluid">
    <div class="info-wisata2">
      <div class="info-wisata3">
        <div class="kategori2">
          <div class="kategori-child1"></div>
          <div class="kategori-child2"></div>
          <div class="tempat-wisata-11">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/1.jpg"
            /><b class="the-great-asia">Tangkuban Perahu</b
            ><b class="selain-menyaksikan-keindahan1"
              >Selain menyaksikan keindahan alam, kamu juga bisa foto-foto
              cantik untuk stok foto.</b
            >
            <div class="cpnrute3" >
              <b class="rute3">Rute</b>
            </div>
          </div>
          <div class="tempar-wisata-21">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/2.jpg"
            /><b class="dusun-bambu">Taman Langit</b
            ><b class="selain-menyaksikan-keindahan1"
              >Taman Langit Pangalengan merupakan tempat wisata yang ada
              diketinggian 1.670 mtr di atas permukaan laut</b
            >
            <div class="cpnrute4" >
              <b class="rute3">Rute</b>
            </div>
          </div>
          <div class="tempat-wisata-31">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/3.jpg"
            /><b class="rancaupas2">Rancaupas</b
            ><b class="selain-menyaksikan-keindahan1"
              >Pesona keindahan alamnya memang tak bisa dibantah lagi, apalagi
              dengan udara yang masih sejuk</b
            >
            <div class="cpnrute5" >
              <b class="rute3">Rute</b>
            </div>
          </div>
          <div class="kategori-child3"></div>
          <div class="tempat-wisata-4">
            <img
              class="gbr-paket-wisata-13"
              alt=""
              src="../../assets/images/Info wisata/4.jpg"
            /><b class="dusun-bambu">Dusun Bambu</b
            ><b class="dusun-bambu-menyajikan"
              >Dusun Bambu menyajikan keindahan alam dan budaya tradisional khas
              Sunda. Cocok untuk wisata dengan keluarga tercinta</b
            >
            <div class="cpnrute6" >
              <b class="rute3">Rute</b>
            </div>
          </div>
          <div class="tempat-wisata-5">
            <img
              class="gbr-paket-wisata-34"
              alt=""
              src="../../assets/images/Info wisata/5.jpg"
            /><b class="the-great-asia">The Great Asia Afrika</b
            ><b class="bagi-kamu-yang"
              >Bagi kamu yang ingin merasakan jalan-jalan keluar negeri, tak ada
              salahnya mengunjungi wisata ini.</b
            >
            <div class="cpnrute7" >
              <b class="rute3">Rute</b>
            </div>
          </div>
        </div>
        <div class="cpnbackground">
          <img
            class="background-icon2"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
          <!-- <div class="layer-background"></div> -->
        </div>
        <div class="cpnfooter1">
          <div class="layer-background"></div>
          <iframe class="maps-icon1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63375.932020655724!2d107.6002816!3d-6.8911104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e64c5e8866e5%3A0x37be7ac9d575f7ed!2sGedung%20Sate!5e0!3m2!1sid!2sid!4v1667394975111!5m2!1sid!2sid" ></iframe>

          <img class="logo-icon2" alt="" src="../../assets/images/logo bulat.png"/><b class="bandung-regency-tour5"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami7">Hubungi Kami</b
          ><b class="alamat1">Alamat :</b
          ><b class="taman-kopo-indah1"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp1">Whatsapp :</b><b class="b2">081234569874</b
          ><b class="telephone1">Telephone :</b><b class="b3">0223654185</b>
        </div>
        <div class="cpncopyright1">
          <div class="bck-cr1"></div>
          <b class="copyright-bandung-regency1"
            >2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok1">Developed with kelompok 6</b
          ><img class="vector-icon1" alt="" />
        </div>
        <div class="judul3">
          <div class="line-1-tp16"></div>
          <b class="info-wisata4"
            ><p class="info1">Info</p>
            <p class="tempat-wisata1">Tempat Wisata</p></b
          ><b class="home3"  [routerLink]="['/','home']">Home </b
          ><b class="tempat-wisata2"
            ><span>/ </span><span class="tempat-wisata3">Tempat Wisata</span></b
          >
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
