
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./galeri.component.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
  />

  </head>
  <body>
    <div class="gallery6">
      <div class="gallery7">
        <div class="cpnbackground4">
          <img
            class="background-icon6"
            alt=""
            src="../../assets/images/bkgheader.png"
          />
          <!-- <div class="layer-background4"></div> -->
        </div>
        <div class="cpnfooter5">
          <div class="layer-background4"></div>
          <iframe class="maps-icon5" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63375.932020655724!2d107.6002816!3d-6.8911104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e64c5e8866e5%3A0x37be7ac9d575f7ed!2sGedung%20Sate!5e0!3m2!1sid!2sid!4v1667394975111!5m2!1sid!2sid" ></iframe>

          <img class="logo-icon10" alt="" src="../../assets/images/logo brt betul footer.png"/><b class="bandung-regency-tour10"
            >Bandung Regency Tour adalah penyedia layanan paket wisata dan sewa
            mobil dengan driver di bandung. Kami mempunyai pengalaman dalam
            meyediakan layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami11">Hubungi Kami</b
          ><b class="alamat9">Alamat :</b
          ><b class="taman-kopo-indah5"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp5">Whatsapp :</b><b class="b16">081234569874</b
          ><b class="telephone5">Telephone :</b><b class="b17">0223654185</b>
        </div>
        <div class="cpncopyright5">
          <div class="bck-cr5"></div>
          <b class="copyright-bandung-regency5"
            >2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok5">Developed with kelompok 6</b
          ><img class="vector-icon5" alt="" />
        </div>
        <div class="gallery8">
          <img
            class="gbr-paket-wisata-15"
            alt=""
            src="../../assets/images/Gallery/1.jpg"
          /><img
            class="gbr-paket-wisata-27"
            alt=""
            src="../../assets/images/Gallery/2.jpg"
          /><img
            class="gbr-paket-wisata-37"
            alt=""
            src="../../assets/images/Gallery/3.jpg"
          /><img
            class="gbr-paket-wisata-41"
            alt=""
            src="../../assets/images/Gallery/4.jpg"
          /><img
            class="gbr-paket-wisata-51"
            alt=""
            src="../../assets/images/Gallery/5.jpg"
          /><img
            class="gbr-paket-wisata-61"
            alt=""
            src="../../assets/images/Gallery/6.jpg"
          /><img
            class="gbr-paket-wisata-71"
            alt=""
            src="../../assets/images/Gallery/7.jpg"
          /><img
            class="gbr-paket-wisata-81"
            alt=""
            src="../../assets/images/Gallery/8.jpg"
          /><img
            class="gbr-paket-wisata-17"
            alt=""
            src="../../assets/images/Gallery/13.jpg"
          /><img
            class="gbr-paket-wisata-10"
            alt=""
            src="../../assets/images/Gallery/9.jpg"
          /><img
            class="gbr-paket-wisata-111"
            alt=""
            src="../../assets/images/Gallery/10.jpg"
          /><img
            class="gbr-paket-wisata-131"
            alt=""
            src="../../assets/images/Gallery/11.jpg"
          /><img
            class="gbr-paket-wisata-151"
            alt=""
            src="../../assets/images/Gallery/12.jpg"
          /><img
            class="gbr-paket-wisata-121"
            alt=""
            src="../../assets/images/Gallery/14.jpg"
          /><img
            class="gbr-paket-wisata-141"
            alt=""
            src="../../assets/images/Gallery/15.jpg"
          /><img
            class="gbr-paket-wisata-16"
            alt=""
            src="../../assets/images/Gallery/16.jpg"
          />
        </div>
        <div class="judul10">
          <b class="gallery-bandung-regency-container1"
            ><p class="gallery9">Gallery</p>
            <p class="bandung-regency-tour11">Bandung Regency Tour</p></b
          >
          <div class="line-1-tp113"></div>
          <b class="home11" id="homeText" [routerLink]="['/','home']">Home</b
          ><b class="gallery10"
            ><span>/ </span><span class="gallery11">Gallery</span></b
          >
        </div>
      </div>
   
    </div>
  </body>
</html>
