<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./home.component.css">
 
  <!-- <link rel="stylesheet" href="../../styles.css"> -->
  <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
/>

  <title>Home</title>
</head>
<body>
  
  
  <div class="home">
    
      <div class="home1">
        <div class="tampilan-1">
          <div class="background">
            <img class="background-icon"alt=""src="../assets/images/h1t1.png" />
          </div>
          <b class="bandung-regency-tour-container">
            <div class="bandung-regency-tour">
              <br>
              <br>

              <p class="baru">

              Penyedia layanan paket wisata dan sewa
              mobil dengan tarif yang 
              <br>
              terjangkau

            </p>

             </div> 
           </b>
           
          <div class="judul">
            <b class="welcome-to-bandung-container">
              <p class="bandung-regency-tour"></p>
              <p class="kendaraan-yang-kami">Welcome to 
                <br>
                Bandung Regency Tour</p>
            </b>
            <div class="line-1-tp1"></div>
          </div>
        </div>

        <!-- tampilan 2 -->
        <div class="tampilan-2">
          <div class="background-2">
            <img
              class="background-icon1"
              alt=""
              src="../assets/images/h1t2.png"
            />
          </div>
          <b class="mari-liburan-bersama">Mari Liburan Bersama Kami</b>
          <div class="line-1-tp2"></div>
          <div class="nikmati-liburan-bersama-berkua-wrapper">
            <b class="nikmati-liburan-bersama-container">
              <p class="bandung-regency-tour">
                Nikmati liburan bersama berkualitas keluarga,
                  <br>
                teman, atau kekasih anda bersama kami. Kami memiliki pengalaman
                  <br>
                dalam meyediakan layanan perjalanan paket wisata yang
                menyenangkan.
              </p>
            </b>
          </div>

          <!-- card berpengalaman dan terpercaya -->
          <div class="berpengalaman-dan-terpercaya">
            <div class="berpengalaman-terpercaya"></div>
            <div class="line-2-lp2"></div>
            <b class="dengan-layanan-yang"
              >Kami mempunyai pengalaman dalam menyediakan layanan paket wisata
              yang aman, nyaman, dan tentunya menyenangkan.
            </b>
            <b class="berpengalaman-terpercaya-container">
              <p class="bandung-regency-tour">Berpengalaman</p>
              <p class="bandung-regency-tour">&</p>
              <p class="kendaraan-yang-kami">Terpercaya</p>
            </b>
          </div>

            <!-- card nyaman -->

          <div class="nyaman">
            <div class="berpengalaman-terpercaya"></div>
            <b class="anda-bisa-menikmati"
              >Anda bisa menikmati perjalanan yang nyaman bersama kami. Karena
              driver berkendara dengan mengutamaakan kenyamanan penumpang.</b
            ><b class="nyaman2">Nyaman</b>
            <div class="line-3-lp2"></div>
          </div>

          <!-- card harga terjangkau -->

          <div class="harga-terjangkau">
            <div class="berpengalaman-terpercaya"></div>
            <b class="dengan-layanan-yang"
              >Dengan layanan yang berkualitas, harga yang kami tawarkan sangat
              murah dan terjangkau untuk Anda.</b
            ><b class="harga-terjangkau2">Harga Terjangkau</b>
            <div class="line-3-lp2"></div>
          </div>


        </div>

          <!-- tampilan 3 ada API NYA -->

        <div class="tampilan-3">
          <div class="cpnhubungi-kami">
            <div class="bck-wa-paket-wisata">
              <img class="wa-t3-icon" alt="" src=".././assets/images/h1t3.png" />
            </div>
            <button class="hubungi-kami" >
              <div class="hubungi-kami1">
                <img class="whatsapp-icon" alt="" src=".././assets/images/whatsapp.png"/>
                <a class="nikmati-liburan-bersama-container" href="https://api.whatsapp.com/send?phone=+6283863377932&text=
              Halo%20Bandung%20Regency%20Tour,%20saya%20mau%20booking%20layanan%20
              Paket%20Wisata,%20bisa%20minta%20informasinya%20lebih%20lanjut?" 
              name="hubungikami">
              <button class="nikmati-liburan-bersama-container">Hubungi kami</button> 
            </a>
              </div>
            </button>
            <b class="silahkan-hubungi-kami"
              >Silahkan hubungi kami untuk informasi lebih lanjut tentang
              layanan info wisata dan paket wisata di Bandung, kami akan
              menjawab pertanyaan anda dengan senang hati.</b
            >
            <div class="line-1-tp11"></div>
            <b class="ada-pertanyaan">Ada Pertanyaan ?</b>
          </div>
          
          <div class="kategori">
            <div class="kategori-child"></div>
            <div class="kategori-item"></div>

            <!-- paket wiata 1 -->
            <div class="paket-wisata-1">
              <img
                class="gbr-paket-wisata-1"
                alt=""
                src=".././assets/images/paket wisata/1.jpg"
              />
              <b class="paket-wisata-11" id>Paket Wisata 1 (2D 1N)</b>
              <b class="rp-1000000">Rp. 1.000.000</b>
              <b class="tangkuban-perahu-orchid-container">
                <ul class="tangkuban-perahu-orchid-forest">
                  <li class="tangkuban-perahu">Tangkuban Perahu</li>
                  <li class="tangkuban-perahu">Orchid Forest</li>
                  <li>The Great Asia Afrika</li>
                </ul>
              </b>
                
                <b class="sudah-termasuk-mobil-container">
                  <p class="bandung-regency-tour">Sudah Termasuk
                    <br>
                    (mobil, Driver, dan BBM)
                  </p>
                </b>
            
              <div class="cpndaftar-sekarang"  [routerLink]="['/','daftarbooking']">
                <b class="nikmati-liburan-bersama-container">Daftar sekarang</b>
              </div>
            </div>

              <!-- paket wisata 2 -->
            <div class="paket-wisata-2">
              <img
                class="gbr-paket-wisata-2"
                alt=""
                src=".././assets/images/paket wisata/2.jpg"
              />
              
              <b class="cg-cinulang-cicalengka-container">
                <ul class="tangkuban-perahu-orchid-forest">
                  <li class="tangkuban-perahu">Cg. Cinulang</li>
                  <li class="tangkuban-perahu">Cicalengka Dreamland</li>
                  <li>Bukit Teletubis Cicalengka</li>
                </ul>
              </b>

              <b class="sudah-termasuk-mobil-container1">
                <p class="bandung-regency-tour">Sudah Termasuk
                  <br>(mobil, Driver, dan BBM)
                </p>
              </b


              ><b class="paket-wisata-21">Paket Wisata 2 (2D 1N)</b
              ><b class="rp-10000001">Rp. 1.000.000</b>
              <div class="cpndaftar-sekarang1"  [routerLink]="['/','daftarbooking']">
                <b class="nikmati-liburan-bersama-container">Daftar sekarang</b>
              </div>
            </div>


            <!-- paket wisata 3 -->
            <div class="paket-wisata-3">
              <img
                class="gbr-paket-wisata-3"
                alt=""
                src=".././assets/images/paket wisata/3.jpg"
              />
              <b class="glamping-lakeside-rancabali-container">
                <ul class="tangkuban-perahu-orchid-forest">
                  <li class="tangkuban-perahu">Glamping Lakeside Rancabali</li>
                  <li class="tangkuban-perahu">Rancaupas</li>
                  <li>Kawah Putih</li>
                </ul>
              </b>
              
              <b class="sudah-termasuk-mobil-container2">
                <p class="bandung-regency-tour">Sudah Termasuk<br>
                  (mobil, Driver, dan BBM)</p>
              </b>
              
              <b class="paket-wisata-31">Paket Wisata 3 (2D 1N)</b>
              <b class="rp-10000002">Rp. 1.000.000</b>
              <div class="cpndaftar-sekarang2"  [routerLink]="['/','daftarbooking']">
                <b class="nikmati-liburan-bersama-container">Daftar sekarang</b>
              </div>
            </div>
          </div>


          <div class="judul1">
            <b class="paket-wisata-bandung-container"
              ><p class="bandung-regency-tour">Paket Wisata</p>
              <p class="kendaraan-yang-kami">Bandung Regency Tour</p></b
            >
            <div class="line-1-tp12"></div>
          </div>
        </div>




        <div class="tampilan-4">
          <div class="cpnhubungi-kami1">
            <div class="bck-wa-paket-wisata">
              <img class="wa-t3-icon" alt=""src=".././assets/images/h1t3.png" />
            </div>
            <div class="hubungi-kami" >
              <div class="hubungi-kami4" >
                <img class="whatsapp-icon" alt="" src=".././assets/images/whatsapp.png"/>
                <b class="nikmati-liburan-bersama-container"
                  ></b>
                 <a class="nikmati-liburan-bersama-container" href="https://api.whatsapp.com/send?phone=+6283863377932&text=
              Halo%20Bandung%20Regency%20Tour,%20saya%20mau%20booking%20layanan%20
              Paket%20Wisata,%20bisa%20minta%20informasinya%20lebih%20lanjut?" 
              name="hubungikami">Hubungi kami</a>
              <br><br>
              </div>
              
            </div>
            <b class="silahkan-hubungi-kami"
              >Silahkan hubungi kami untuk informasi lebih lanjut tentang
              layanan info wisata dan paket wisata di Bandung, kami akan
              menjawab pertanyaan anda dengan senang hati.</b
            >
            <div class="line-1-tp11"></div>
            <b class="ada-pertanyaan">Ada Pertanyaan ?</b>
          </div>
          <div class="kategori1">
            <div class="kategori-inner"></div>
            <div class="line-div"></div>
            <div class="tempat-wisata-1">
              <b class="tangkuban-perahu1">Tangkuban Perahu</b
              ><img
                class="gbr-paket-wisata-1"
                alt=""
                src="../../assets/images/Info wisata/1.jpg"
              /><b class="selain-menyaksikan-keindahan"
                >Selain menyaksikfLINEan keindahan alam, kamu juga bisa foto-foto
                cantik untuk stok foto.</b
              >
              <div class="cpnrute" >
                <b class="nikmati-liburan-bersama-container">Rute</b>
              </div>
            </div>
            <div class="tempar-wisata-2">
              <img
                class="gbr-paket-wisata-21"
                alt=""
                src="../../assets/images/Info wisata/2.jpg"
              /><b class="taman-langit">Taman Langit</b
              ><b class="taman-langit-pangalengan"
                >Taman Langit Pangalengan merupakan tempat wisata yang ada
                diketinggian 1.670 mtr di atas oermukaan laut</b
              >
              <div class="cpnrute1" >
                <b class="nikmati-liburan-bersama-container">Rute</b>
              </div>
            </div>
            <div class="tempat-wisata-3">
              <img
                class="gbr-paket-wisata-31"
                alt=""
                src="../../assets/images/Info wisata/3.jpg"
              /><b class="rancaupas1">Rancaupas</b
              ><b class="taman-langit-pangalengan"
                >Pesona keindahan alamnya memang tak bisa dibantah lagi, apalagi
                dengan udara yang masih sejuk</b
              >
              <div class="cpnrute1" >
                <b class="nikmati-liburan-bersama-container">Rute</b>
              </div>
            </div>
          </div>
          <div class="judul2">
            <div class="line-1-tp14"></div>
            <b class="info-wisata"
              ><p class="bandung-regency-tour">Info</p>
              <p class="kendaraan-yang-kami">Tempat Wisata</p></b
            >
          </div>
        </div>
        <div class="tampilan-5">
          <b class="gallery-bandung-regency-container"
            ><p class="bandung-regency-tour">Gallery</p>
            <p class="kendaraan-yang-kami">Bandung Regency Tour</p></b
          >
          <div class="line-1-tp15"></div>
          <img
            class="gbr-paket-wisata-12"
            alt=""
            src="../../assets/images/Gallery/1.jpg"
          /><img
            class="gbr-paket-wisata-5"
            alt=""
            src=".././assets/images/Gallery/2.jpg"
          /><img
            class="gbr-paket-wisata-22"
            alt=""
            src=".././assets/images/Gallery/3.jpg"
          /><img
            class="gbr-paket-wisata-6"
            alt=""
            src=".././assets/images/Gallery/4.jpg"
          /><img
            class="gbr-paket-wisata-32"
            alt=""
            src=".././assets/images/Gallery/5.jpg"
          /><img
            class="gbr-paket-wisata-7"
            alt=""
            src=".././assets/images/Gallery/6.jpg"
          /><img
            class="gbr-paket-wisata-4"
            alt=""
            src=".././assets/images/Gallery/7.jpg"
          /><img
            class="gbr-paket-wisata-8"
            alt=""
            src=".././assets/images/Gallery/8.jpg"
          />
        </div>
        <div class="cpnfooter">
          <div class="bck-cr"></div>
        <iframe class="maps-icon" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63375.932020655724!2d107.6002816!3d-6.8911104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e64c5e8866e5%3A0x37be7ac9d575f7ed!2sGedung%20Sate!5e0!3m2!1sid!2sid!4v1667394975111!5m2!1sid!2sid" ></iframe>
        <!-- <iframe class="maps-icon" src="" frameborder="0"></iframe> -->
          
          <img 
            class="logo-icon" 
            alt="" 
            src="../../assets/images/logo brt betul footer.png" >
            <b class="bandung-regency-tour4">Bandung Regency Tour adalah penyedia layanan info wisata dan paket
            wisata di bandung. Kami mempunyai pengalaman dalam meyediakan
            layanan perjalanan paket wisata yang menyenangkan.</b
          ><b class="hubungi-kami6">Hubungi Kami</b
          ><b class="alamat">Alamat :</b
          ><b class="taman-kopo-indah"
            >Taman Kopo Indah 1, Jl. Raya Kopo,Mekar Rahayu, Margaasih,
            Margaasih, Bandung, Jawa Barat</b
          ><b class="whatsapp">Whatsapp :</b><b class="b">081234569874</b
          ><b class="telephone">Telephone :</b><b class="b1">0223654185</b>
        </div>
        <div class="cpncopyright">
          <div class="bck-cr"></div>
          <b class="copyright-bandung-regency"
            >2023 Copyright Bandung Regency Tour</b
          ><b class="developed-with-kelompok">Developed with kelompok 6</b
          ><img class="vector-icon" alt="" />
        </div>
      </div>
      
    </div>
  
</body>
</html>