body {
    margin: 0;
    line-height: normal;
    width: 100%;
  }
  .background-icon {
    object-fit: cover;
  }
  .background,
  .background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 414px;
  }
  .bandung-regency-tour {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .kendaraan-yang-kami {
    margin: 0;
  }
  .bandung-regency-tour-container {
    position: absolute;
    top: 564px;
    left: 50px;
    display: inline-block;
    width: 1180px;
  }
  .line-1-tp1,
  .welcome-to-bandung-container {
    position: absolute;
    top: 0;
    left: 27px;
  }
  .line-1-tp1 {
    top: 111.5px;
    left: -1.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 457px;
    height: 3px;
  }
  .judul {
    position: absolute;
    top: 441px;
    left: 413px;
    width: 454px;
    height: 113px;
    font-size: var(--inrias-bold-40-size);
    color: var(--b1f54-darkblue-100);
    font-family: var(--inrias-bold-40);
  }
  .tampilan-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 807px;
    color: var(--primary-black);
  }
  .background-icon1 {
    object-fit: cover;
  }
  .background-2,
  .background-icon1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 832px;
  }
  .mari-liburan-bersama {
    position: absolute;
    top: 118px;
    left: 397px;
    font-size: var(--inrias-bold-40-size);
    font-family: var(--inrias-bold-40);
    color: var(--primary-white);
  }
  .line-1-tp2 {
    position: absolute;
    top: 178.5px;
    left: 380.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 518px;
    height: 3px;
  }
  .nikmati-liburan-bersama-container {
    position: relative;
  }
  .nikmati-liburan-bersama-berkua-wrapper {
    position: absolute;
    top: 197px;
    left: 285px;
    border-radius: 30px;
    background-color: var(--d-blue-80);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs);
    align-items: center;
    justify-content: center;
    color: var(--primary-white);
    
  }
  .berpengalaman-terpercaya {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-lg);
    background-color: var(--primary-white);
    width: 329px;
    height: 398px;
  }
  .line-2-lp2 {
    position: absolute;
    top: 160.5px;
    left: 66.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 195px;
    height: 3px;
  }
  .berpengalaman-terpercaya-container {
    position: absolute;
    top: 51px;
    left: 72px;
    font-size: var(--nunito-bold-24-size);
    display: inline-block;
    color: var(--d-blue-80);
    width: 185px;
  }
  .berpengalaman-dan-terpercaya {
    position: absolute;
    top: 342px;
    left: 103px;
    width: 329px;
    height: 398px;
  }
  .anda-bisa-menikmati {
    position: absolute;
    top: 185px;
    left: 21px;
    display: inline-block;
    width: 289px;
  }
  .nyaman2 {
    position: absolute;
    top: 84px;
    left: 119px;
    font-size: var(--nunito-bold-24-size);
    color: var(--d-blue-80);
  }
  .line-3-lp2 {
    position: absolute;
    top: 160.5px;
    left: 67.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 195px;
    height: 3px;
  }
  .nyaman {
    position: absolute;
    top: 342px;
    left: 475px;
    width: 329px;
    height: 398px;
  }
  .dengan-layanan-yang {
    position: absolute;
    top: 185px;
    left: 20px;
    display: inline-block;
    width: 289px;
  }
  .harga-terjangkau2 {
    position: absolute;
    top: 84px;
    left: 66px;
    font-size: var(--nunito-bold-24-size);
    color: var(--d-blue-80);
  }
  .harga-terjangkau,
  .tampilan-2 {
    position: absolute;
    top: 342px;
    left: 847px;
    width: 329px;
    height: 398px;
  }
  .tampilan-2 {
    top: 832px;
    left: 0;
    width: 100%;
    height: 832px;
    color: var(--primary-black);
  }
  .bck-wa-paket-wisata,
  .wa-t3-icon {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .wa-t3-icon {
    height: 100%;
    top: 0;
    border-radius: var(--br-md);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .bck-wa-paket-wisata {
    height: 102.41%;
    top: -2.41%;
  }
  .whatsapp-icon {
    position: relative;
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .hubungi-kami,
  .hubungi-kami1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hubungi-kami1 {
    flex-direction: row;
    gap: var(--gap-sm);
  }
  .hubungi-kami {
    position: absolute;
    height: 31.93%;
    width: 19.32%;
    top: 63.25%;
    right: 40.51%;
    bottom: 4.82%;
    left: 40.17%;
    border-radius: var(--br-md);
    background-color: var(--ffc700-yellow-100);
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-md);
    box-sizing: border-box;
    cursor: pointer;
    color: var(--primary-black);
  }
  .silahkan-hubungi-kami {
    position: absolute;
    height: 33.73%;
    width: 86.69%;
    top: 26.51%;
    left: 6.78%;
    display: inline-block;
  }
  .line-1-tp11 {
    position: absolute;
    height: 1.81%;
    width: 18.39%;
    top: 22.59%;
    right: 40.97%;
    bottom: 75.6%;
    left: 40.64%;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
  }
  .ada-pertanyaan {
    position: absolute;
    top: 0;
    left: 41.69%;
    font-size: var(--nunito-bold-24-size);
  }
  .cpnhubungi-kami {
    position: absolute;
    top: 644px;
    left: 0;
    border-radius: var(--br-sm);
    width: 1180px;
    height: 166px;
  }
  .kategori-child,
  .kategori-item {
    position: absolute;
    top: 18.5px;
    left: 327.5px;
    border-right: 3px solid var(--b1f54-darkblue-100);
    box-sizing: border-box;
    width: 3px;
    height: 472px;
  }
  .kategori-item {
    left: 710.5px;
  }
  .gbr-paket-wisata-1 {
    position: absolute;
    top: 0;
    left: 15px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .paket-wisata-11,
  .rp-1000000 {
    position: absolute;
    display: inline-block;
    text-align: left;
  }
  .paket-wisata-11 {
    top: 211px;
    left: 0;
    font-size: var(--nunito-bold-24-size);
    width: 269px;
    height: 33px;
  }
  .rp-1000000 {
    top: 244px;
    left: 29px;
    font-size: var(--nunito-bold-30-size);
    width: 201px;
  }
  .tangkuban-perahu {
    margin-bottom: 0;
  }
  .tangkuban-perahu-orchid-forest {
    margin: 0;
    padding-left: var(--padding-lg);
  }
  .tangkuban-perahu-orchid-container {
    position: absolute;
    top: 290px;
    left: 10px;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
  }
  .sudah-termasuk-mobil-container {
    position: absolute;
    top: 386px;
    left: 11px;
  }
  .cpndaftar-sekarang {
    position: absolute;
    top: 455px;
    left: 34px;
    border-radius: var(--br-md);
    border: 3px solid var(--b1f54-darkblue-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-md);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .gbr-paket-wisata-2,
  .paket-wisata-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 269px;
    height: 502px;
  }
  .gbr-paket-wisata-2 {
    left: 28px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .cg-cinulang-cicalengka-container {
    position: absolute;
    top: 290px;
    left: 0;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
  }
  .sudah-termasuk-mobil-container1 {
    position: absolute;
    top: 386px;
    left: 23px;
  }
  .paket-wisata-21,
  .rp-10000001 {
    position: absolute;
    display: inline-block;
    text-align: left;
  }
  .paket-wisata-21 {
    top: 211px;
    left: 1px;
    font-size: var(--nunito-bold-24-size);
    width: 290px;
    height: 37px;
  }
  .rp-10000001 {
    top: 244px;
    left: 46px;
    font-size: var(--nunito-bold-30-size);
    width: 200px;
  }
  .cpndaftar-sekarang1 {
    position: absolute;
    top: 455px;
    left: 42px;
    border-radius: var(--br-md);
    border: 3px solid var(--b1f54-darkblue-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-md);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .gbr-paket-wisata-3,
  .paket-wisata-2 {
    position: absolute;
    top: 0;
    left: 380px;
    width: 291px;
    height: 502px;
  }
  .gbr-paket-wisata-3 {
    left: 34px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .glamping-lakeside-rancabali-container {
    position: absolute;
    top: 285px;
    left: 0;
    font-size: var(--font-inherit);
    font-family: var(--font-inherit);
  }
  .sudah-termasuk-mobil-container2 {
    position: absolute;
    top: 385px;
    left: 42px;
  }
  .paket-wisata-31,
  .rp-10000002 {
    position: absolute;
    display: inline-block;
    text-align: left;
  }
  .paket-wisata-31 {
    top: 211px;
    left: 9px;
    font-size: var(--nunito-bold-24-size);
    width: 285px;
    height: 39px;
  }
  .rp-10000002 {
    top: 240px;
    left: 52px;
    font-size: var(--nunito-bold-30-size);
    width: 200px;
  }
  .cpndaftar-sekarang2 {
    position: absolute;
    top: 455px;
    left: 62px;
    border-radius: var(--br-md);
    border: 3px solid var(--b1f54-darkblue-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-md);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .kategori,
  .paket-wisata-3 {
    position: absolute;
    top: 0;
    left: 746px;
    width: 304px;
    height: 502px;
  }
  .kategori {
    top: 127px;
    left: 73px;
    width: 1050px;
    color: var(--primary-black);
  }
  .line-1-tp12,
  .paket-wisata-bandung-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .line-1-tp12 {
    top: 110.5px;
    left: -1.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 404px;
    height: 3px;
  }
  .judul1 {
    position: absolute;
    top: 0;
    left: 390px;
    width: 430px;
    height: 112px;
    font-size: var(--inrias-bold-40-size);
    color: var(--b1f54-darkblue-100);
    font-family: var(--inrias-bold-40);
  }
  .tampilan-3 {
    position: absolute;
    top: 1792px;
    left: 50px;
    width: 1180px;
    height: 810px;
  }
  .hubungi-kami4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    cursor: pointer;
  }
  .cpnhubungi-kami1 {
    position: absolute;
    top: 640px;
    left: 0;
    border-radius: var(--br-md);
    width: 1180px;
    height: 166px;
  }
  .kategori-inner,
  .line-div {
    position: absolute;
    top: -1.5px;
    left: 327.5px;
    border-right: 3px solid var(--b1f54-darkblue-100);
    box-sizing: border-box;
    width: 3px;
    height: 457px;
  }
  .line-div {
    left: 710.5px;
  }
  .tangkuban-perahu1 {
    position: absolute;
    top: 221px;
    left: 0;
    font-size: var(--nunito-bold-30-size);
  }
  .selain-menyaksikan-keindahan {
    position: absolute;
    top: 264px;
    left: 0;
    display: inline-block;
    text-align: center;
    width: 265px;
    height: 95px;
  }
  .cpnrute {
    position: absolute;
    top: 396px;
    left: 90px;
    border-radius: var(--br-md);
    border: 3px solid var(--b1f54-darkblue-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-md);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .tempat-wisata-1 {
    position: absolute;
    top: 34px;
    left: 0;
    width: 265px;
    height: 443px;
  }
  .gbr-paket-wisata-21 {
    position: absolute;
    top: 0;
    left: 16px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .taman-langit {
    position: absolute;
    top: 221px;
    left: 38px;
    font-size: var(--nunito-bold-30-size);
  }
  .taman-langit-pangalengan {
    position: absolute;
    top: 263px;
    left: 0;
    display: inline-block;
    text-align: center;
    width: 265px;
    height: 95px;
  }
  .cpnrute1 {
    position: absolute;
    top: 396px;
    left: 91px;
    border-radius: var(--br-md);
    border: 3px solid var(--b1f54-darkblue-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-md);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .tempar-wisata-2 {
    position: absolute;
    top: 34px;
    left: 392px;
    width: 265px;
    height: 443px;
  }
  .gbr-paket-wisata-31 {
    position: absolute;
    top: 0;
    left: 9px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .rancaupas1 {
    position: absolute;
    top: 221px;
    left: 49px;
    font-size: var(--nunito-bold-30-size);
  }
  .kategori1,
  .tempat-wisata-3 {
    position: absolute;
    top: 34px;
    left: 771px;
    width: 265px;
    height: 443px;
  }
  .kategori1 {
    top: 137px;
    left: 73px;
    width: 1036px;
    height: 477px;
    text-align: left;
    color: var(--primary-black);
  }
  .line-1-tp14 {
    position: absolute;
    top: 105.5px;
    left: -1.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 285px;
    height: 3px;
  }
  .info-wisata,
  .judul2 {
    position: absolute;
    top: 0;
    left: 10px;
  }
  .judul2 {
    left: 449px;
    width: 282px;
    height: 107px;
    font-size: var(--inrias-bold-40-size);
    color: var(--b1f54-darkblue-100);
    font-family: var(--inrias-bold-40);
  }
  .tampilan-4 {
    position: absolute;
    top: 2775px;
    left: 50px;
    width: 1180px;
    height: 806px;
  }
  .gallery-bandung-regency-container,
  .line-1-tp15 {
    position: absolute;
    top: 0;
    left: 357px;
  }
  .line-1-tp15 {
    top: 110.5px;
    left: 355.5px;
    border-top: 3px solid var(--ffc700-yellow-100);
    box-sizing: border-box;
    width: 404px;
    height: 3px;
  }
  .gbr-paket-wisata-12,
  .gbr-paket-wisata-5 {
    position: absolute;
    top: 199px;
    left: 1px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .gbr-paket-wisata-5 {
    top: 447px;
    left: 0;
  }
  .gbr-paket-wisata-22,
  .gbr-paket-wisata-32,
  .gbr-paket-wisata-6 {
    position: absolute;
    top: 199px;
    left: 294px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .gbr-paket-wisata-32,
  .gbr-paket-wisata-6 {
    top: 447px;
    left: 293px;
  }
  .gbr-paket-wisata-32 {
    top: 199px;
    left: 587px;
  }
  .gbr-paket-wisata-4,
  .gbr-paket-wisata-7,
  .gbr-paket-wisata-8 {
    position: absolute;
    top: 447px;
    left: 586px;
    width: 235px;
    height: 202px;
    object-fit: cover;
  }
  .gbr-paket-wisata-4,
  .gbr-paket-wisata-8 {
    top: 199px;
    left: 880px;
  }
  .gbr-paket-wisata-8 {
    top: 447px;
    left: 879px;
  }
  .tampilan-5 {
    position: absolute;
    top: 3608px;
    left: 82px;
    width: 1115px;
    height: 649px;
    font-size: var(--inrias-bold-40-size);
    color: var(--b1f54-darkblue-100);
    font-family: var(--inrias-bold-40);
  }
  .bck {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--d-blue-80);
  }
  .logo-icon,
  .maps-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .maps-icon {
    height: 44.55%;
    width: 29.69%;
    top: 23.52%;
    right: 3.91%;
    bottom: 31.93%;
    left: 66.41%;
    object-fit: cover;
    cursor: pointer;
  }
  .logo-icon {
    height: 27.26%;
    width: 13.67%;
    top: 13.08%;
    right: 77.5%;
    bottom: 59.66%;
    left: 8.83%;
  }
  .bandung-regency-tour4 {
    position: absolute;
    height: 28.82%;
    width: 23.44%;
    top: 47.35%;
    left: 3.91%;
    display: inline-block;
  }
  .alamat,
  .hubungi-kami6 {
    position: absolute;
    top: 13.08%;
    left: 42.27%;
    font-size: var(--nunito-bold-30-size);
  }
  .alamat {
    top: 22.59%;
    left: 35.23%;
    font-size: var(--nunito-bold-24-size);
  }
  .taman-kopo-indah {
    position: absolute;
    height: 10.9%;
    width: 29.69%;
    top: 29.44%;
    left: 35.16%;
    display: inline-block;
    text-align: left;
  }
  .whatsapp {
    position: absolute;
    top: 45.79%;
    left: 35.23%;
    font-size: var(--nunito-bold-24-size);
  }
  .b {
    top: 52.65%;
    left: 35.16%;
  }
  .b,
  .b1,
  .telephone {
    position: absolute;
  }
  .telephone {
    top: 59.81%;
    left: 35.55%;
    font-size: var(--nunito-bold-24-size);
  }
  .b1 {
    top: 66.67%;
    left: 35.16%;
  }
  .bck-cr,
  .cpnfooter {
    position: absolute;
    top: 4350px;
    left: 0;
    width: 100%;
    height: 642px;
  }
  .bck-cr {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--d-blue-50);
  }
  .copyright-bandung-regency {
    position: absolute;
    top: 26.25%;
    left: 43.91%;
  }
  .developed-with-kelompok,
  .vector-icon {
    position: absolute;
    top: 56.25%;
    left: 46.41%;
  }
  .vector-icon {
    height: 23.75%;
    width: 1.48%;
    top: 23.75%;
    right: 56.72%;
    bottom: 52.5%;
    left: 41.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .cpncopyright,
  .home1 {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .cpncopyright {
    top: 4912px;
    height: 80px;
    font-size: var(--nunito-bold-12-size);
  }
  .home1 {
    top: 0;
    height: 832px;
    /* overflow-y: auto; */
  }
  .logo-icon1 {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }
  .home2,
  .logo-icon1,
  .tentang {
    position: relative;
  }
  .home2 {
    color: var(--primary-white);
  }
  .tentang {
    cursor: pointer;
  }
  /* .cpntop-bar,
  .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
  /* .top-bar {
    width: 662px;
    flex-shrink: 0;
    justify-content: flex-end;
    gap: var(--gap-md);
  } */
  /* .cpntop-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--d-blue-80);
    width: 1280px;
    padding: var(--padding-sm) var(--padding-xl);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-lg);
    color: var(--primary-black);
  } */
  .home {
    position: relative;
    background-color: var(--primary-white);
    top: 0px;
    width: 100%;
    height: 832px;
    overflow:auto;
    text-align: center;
    font-size: var(--nunito-bold-20-size);
    color: var(--primary-white);
    font-family: var(--nunito-bold-30);
  }
  